# ==========================
# Python Cache Files
# ==========================

__pycache__/
*.py[cod]

# ==========================
# Virtual Environment
# ==========================

.venv/
venv/

# ==========================
# Environment Variables
# ==========================

.env

# ==========================
# IDE Settings
# ==========================

.vscode/

# ==========================
# Operating System Files
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Log Files
# ==========================

*.log